{% extends 'backend/layout.html' %}
{% load static %}
{% block content %}
<div class="row mt-5 align-items-center justify-content-between">
	<div class="col-auto">
		<h3 class="mb-0">Dashboard</h3>
	</div>
</div>
<div class="col-sm-12 row">
	<div class="col-6 col-lg-3 mt-3">
		<div class="card">
			<div class="card-body">
				<p>TOTAL USERS</p>
				<h2>{{ user }}</h2>
			</div>
		</div>
	</div>
	<div class="col-6 col-lg-3 mt-3">
		<div class="card">
			<div class="card-body">
				<p>SHOPS / STORES ONLINE</p>
				<h2>{{ active_shops }}</h2>
			</div>
		</div>
	</div>
	<div class="col-6 col-lg-3 mt-3">
		<div class="card">
			<div class="card-body">
				<p>PRODUCTS SEARCHES</p>
				<h2>{{ prod_search }}</h2>
			</div>
		</div>
	</div>
	<div class="col-6 col-lg-3 mt-3">
		<div class="card">
			<div class="card-body">
				<p>SUBSCRIBERS</p>
				<h2>0</h2>
			</div>
		</div>
	</div>
</div>
<div class="col-sm-12 row mt-3">
	<div class="col-lg-6">
		<div class="app-card app-card-chart h-100 shadow-sm">
			<div class="app-card-header p-3 border-0">
				<h4 class="app-card-title">Top Subscription Plans</h4>
			</div>
			<div class="app-card-body p-4">
				<div class="chart-container">
					<canvas id="top_plans"></canvas>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-6">
		<div class="app-card app-card-chart h-100 shadow-sm">
			<div class="app-card-header p-3 border-0">
				<h4 class="app-card-title">Subscription Sales</h4>
			</div>
			<div class="app-card-body p-4">
				<div class="chart-container">
					<canvas id="subscription"></canvas>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	window.chartColors = {
		green: '#75c181', // rgba(117,193,129, 1)
		blue: '#5b99ea', // rgba(91,153,234, 1)
		gray: '#a9b5c9',
		text: '#252930',
		border: '#e7e9ed'
	};

/* Random number generator for demo purpose */
var randomDataPoint = function(){ return Math.round(Math.random()*100)};


//Bar Chart Demo

var topPlans = {
	type: 'bar',

	data: {
		labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul'],
		datasets: [{
			label: 'Dataset 1',
			backgroundColor: "rgba(117,193,129,0.8)", 
			hoverBackgroundColor: "rgba(117,193,129,1)",
			
			
			data: [
				randomDataPoint(),
				randomDataPoint(),
				randomDataPoint(),
				randomDataPoint(),
				randomDataPoint(),
				randomDataPoint(),
				randomDataPoint()
			]
		}, 
		{
			label: 'Dataset 2',
			backgroundColor: "rgba(91,153,234,0.8)", 
			hoverBackgroundColor: "rgba(91,153,234,1)",
			
			
			data: [
				randomDataPoint(),
				randomDataPoint(),
				randomDataPoint(),
				randomDataPoint(),
				randomDataPoint(),
				randomDataPoint(),
				randomDataPoint()
			]
		}
		]
	},
	options: {
		responsive: true,
		legend: {
			position: 'bottom',
			align: 'end',
		},

		tooltips: {
			mode: 'index',
			intersect: false,
			titleMarginBottom: 10,
			bodySpacing: 10,
			xPadding: 16,
			yPadding: 16,
			borderColor: window.chartColors.border,
			borderWidth: 1,
			backgroundColor: '#fff',
			bodyFontColor: window.chartColors.text,
			titleFontColor: window.chartColors.text,
			callbacks: {
                label: function(tooltipItem, data) {	                 
	                return tooltipItem.value + '%';   
                }
            },
			

		},
		scales: {
			xAxes: [{
				display: true,
				gridLines: {
					drawBorder: false,
					color: window.chartColors.border,
				},

			}],
			yAxes: [{
				display: true,
				gridLines: {
					drawBorder: false,
					color: window.chartColors.borders,
				},
				ticks: {
		            beginAtZero: true,
		            userCallback: function(value, index, values) {
		                return value + '%';  
		            }
		        },

				
			}]
		}
		
	}
}


var subcriptionsales = {
	type: 'bar',

	data: {
		labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul'],
		datasets: [{
			label: 'Dataset 1',
			backgroundColor: "rgba(117,193,129,0.8)", 
			hoverBackgroundColor: "rgba(117,193,129,1)",
			
			
			data: [
				100,
				randomDataPoint(),
				randomDataPoint(),
				randomDataPoint(),
				randomDataPoint(),
				randomDataPoint(),
				randomDataPoint()
			]
		},
		]
	},
	options: {
		responsive: true,
		legend: {
			position: 'bottom',
			align: 'end',
		},

		tooltips: {
			mode: 'index',
			intersect: false,
			titleMarginBottom: 10,
			bodySpacing: 10,
			xPadding: 16,
			yPadding: 16,
			borderColor: window.chartColors.border,
			borderWidth: 1,
			backgroundColor: '#fff',
			bodyFontColor: window.chartColors.text,
			titleFontColor: window.chartColors.text,
			callbacks: {
                label: function(tooltipItem, data) {	                 
	                return tooltipItem.value + '%';   
                }
            },
			

		},
		scales: {
			xAxes: [{
				display: true,
				gridLines: {
					drawBorder: false,
					color: window.chartColors.border,
				},

			}],
			yAxes: [{
				display: true,
				gridLines: {
					drawBorder: false,
					color: window.chartColors.borders,
				},
				ticks: {
		            beginAtZero: true,
		            userCallback: function(value, index, values) {
		                return value + '%';  
		            }
		        },

				
			}]
		}
		
	}
}

// Generate charts on load
window.addEventListener('load', function(){
	var top_plans = document.getElementById('top_plans').getContext('2d');
	window.myBar = new Chart(top_plans, topPlans);

	var subscription = document.getElementById('subscription').getContext('2d');
	window.myBar = new Chart(subscription, subcriptionsales);
});	
</script>
{% endblock %}