{% extends 'backend/layout.html' %}
{% load static %}
{% block content %}
<style type="text/css">
	.display-none{
		display: none;
	}
</style>
    <div class="row mt-5 align-items-center justify-content-between">
	    <div class="col-auto">
            <h3 class="app-page-title mb-0">Shop / Store</h3>
	    </div>
	    <div class="col-auto">
		     <div class="page-utilities">
			    <div class="row g-2 justify-content-start justify-content-md-end align-items-center">
				    <div class="col-auto">						    
					    <a class="btn btn-primary" href="#" data-bs-toggle="modal" data-bs-target="#create_shop">
						    <i class="fas fa-plus"></i>
						    Add Shop
						</a>
				    </div>
			    </div>
		    </div>
	    </div>
    </div>
	<br><br>
	<div class="col-sm-12 row">
		<div class="app-card app-card-orders-table shadow-sm mb-5">
		    <div class="app-card-body">
			    <div class="table-responsive">
			        <table class="table table-hover" id="shop_list" width="100%">
						<thead>
							<tr>
								<th class="cell">Action</th>
								<th class="cell">Name</th>
								<th class="cell">Location</th>
								<th class="cell">Language</th>
								<th class="cell">Status</th>
								<th class="cell">Is Default</th>
								<th class="cell">Datetime Added</th>
								<th class="cell">Uploaded By</th>
								<th class="cell display-none">Search</th>
							</tr>
						</thead>
					</table>
		        </div>
		    </div>	
		</div>
	</div>

	<div class="modal fade" id="create_shop" role="dialog" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
		<div class="modal-dialog modal-dialog-centered modal-md">
		    <div class="modal-content">
			    <div class="modal-header">
			        <h5 class="modal-title" id="exampleModalLabel">REGISTER SHOP</h5>
			        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			    </div>
			    <form id="submitForm" enctype="multipart/form-data">
			    	{% csrf_token %}
				   	<div class="modal-body">
				   		<div class="mb-3">
							<label>Shop Name <span class="asteriskField">*</span></label>
							<input name="shop_name" type="text" class="form-control shop_name" placeholder="Shop Name" required="required">
						</div>
						<div class="mb-3">
							<label>Search Engine <span class="asteriskField">*</span></label>
							<input name="search_engine" type="text" class="form-control search_engine" placeholder="Search Engine" required="required">
						</div>
						<div class="mb-3">
							<label>Logo</label>
							<input name="shop_logo" type="file" class="form-control shop_logo" required>
						</div>
						<div class="row">
							<div class="col-lg-6 mb-3">
								<label>Currency <span class="asteriskField">*</span></label>
								<input name="currency" type="text" class="form-control language" required="required">
							</div>
							<div class="col-lg-6 mb-3">
								<label>Language <span class="asteriskField">*</span></label>
								<input name="language" type="text" class="form-control language" required="required">
							</div>
						</div>
						<div class="row">
							<div class="col-lg-6 mb-3">
								<label>Location <span class="asteriskField">*</span></label>
								<input name="location" type="text" class="form-control location" required="required">
							</div>
							<div class="col-lg-6 mb-3">
								<label>Continent <span class="asteriskField">*</span></label>
								<input name="continent" type="text" class="form-control continent" required="required">
							</div>
						</div>
						<div class="mb-3">
							<label>Search Engine Type <span class="asteriskField">*</span></label>
							<select class="form-control select2" data-dropdown-parent="#create_shop" name="se_type">
								<option></option>
								<option value="0">based on shop search engine</option>
								<option value="1">based on keyword</option>
							</select>
						</div>
						<div class="mb-3">
							<label>URL <span class="asteriskField">*</span></label>
							<input name="url" type="text" class="form-control language" required="required">
						</div>
						<div class="d-flex justify-content-between">
							<div class="form-check">
								<input class="form-check-input" type="checkbox" name="is_default">
								<label class="form-check-label" for="flexCheckDefault">
									Is Default
								</label>
							</div>
							<div class="form-check">
								<input class="form-check-input" type="checkbox" name="status">
								<label class="form-check-label" for="flexCheckDefault">
									Status
								</label>
							</div>
						</div>
				    </div>
				    <div class="modal-footer">
				        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="close-shop-modal">Close</button>
				        <button type="submit" class="btn btn-primary">Save changes</button>
				    </div>
			    </form>
		    </div>
		</div>
	</div>

	<div class="modal fade" id="edit_modal" role="dialog" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
	    <div class="modal-dialog modal-dialog-centered modal-xl">
	        <div class="modal-content">
	            <div class="modal-header">
	                <h5 class="modal-title"><strong>EDIT SHOP</strong></h5>
	                <button type="button" class="btn-close" data-bs-dismiss="modal" id="close-editlogo-modal" aria-label="Close"></button>
	            </div>
	            <div class="view_edit_modal_content"></div>
	        </div>
	    </div>
	</div>
{% endblock %}
{% block script %}
<script type="text/javascript">
	$(document).ready(function(){
	    $('#shop_list').DataTable({
	        'serverSide': true,
	        'processing': true,
	        'deferRender': true,
	        'lengthMenu': [ 25, 50, 100 ],
	        'order': [[ 1, 'desc' ]],
	        'bDestroy': true,
	        'ajax': {
	            'url': '/api/shop/?format=datatables',
	            'type': 'GET',
	            'beforeSend': function (request) {
	                request.setRequestHeader("Authorization", "Token bcc89274c44530a1331e772e5579aa85d8005d44")
	            }
	        },
	        'fnCreatedRow': function (row, data, index) {
	            $(row).attr('id', data['id']);
	        },
	        'columns': [
	            {'data': 'id',
	                'render': function(data, type, row, meta) {
	                    return "<a href='javascript:void(0);' data-role='edit' data-id='"+ row['id'] + "'>Edit</a>"
	                }
	            },
	            {'data': 'name', 'className': 'text-start' },
	            {'data': 'location', 'className': 'text-start' },
	            {'data': 'language', 'className': 'text-start' },
	            {'data': 'status',
	                'render': function(data, type, row, meta) {
	                    if(row['status'] == 1) {
	                        return '<svg xmlns="http://www.w3.org/2000/svg" width="16" style="color:green" height="16" fill="currentColor" class="bi 					bi-check-circle" viewBox="0 0 16 16">\
										  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>\
										  <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>\
									</svg> Active'
	                    }else if (row['status'] == 0) {
	                        return '<svg xmlns="http://www.w3.org/2000/svg" style="color:red" width="16" height="16" fill="currentColor" class="bi 						bi-x-circle" viewBox="0 0 16 16">\
									  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>\
									  <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>\
									</svg> Inactive'
	                    }
	                },
	                'className': 'text-center'
	            },
	            {'data': 'is_default',
	                'render': function(data, type, row, meta) {
	                    if(row['is_default'] == 1) {
	                        return '<svg xmlns="http://www.w3.org/2000/svg" width="16" style="color:green" height="16" fill="currentColor" class="bi 					bi-check-circle" viewBox="0 0 16 16">\
										  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>\
										  <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>\
									</svg> Default'
	                    }else if (row['is_default'] == 0) {
	                        return '<svg xmlns="http://www.w3.org/2000/svg" style="color:red" width="16" height="16" fill="currentColor" class="bi 						bi-x-circle" viewBox="0 0 16 16">\
									  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>\
									  <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>\
									</svg> Not Default'
	                    }
	                },
	                'className': 'text-center'
	            },
	            {'data': 'datetime_added',
	                'className': 'text-center'
	            },
	            {'data': 'uploaded_by',
	                'name': 'uploaded_by.last_name, uploaded_by.first_name',
	                'className': 'text-center'
	            },
	            {'data': 'search_engine',
	                'className': 'text-center display-none'
	            },
	        ]
	    });

	    $(document).on('click', 'a[data-role=edit]', function(){
	        var id = $(this).data('id');
	        var edit_modal = new bootstrap.Modal(document.getElementById('edit_modal'), {});
			$('.view_edit_modal_content', $('#edit_modal')).load('/rc-admin/shop/update/' + id, function(){
				edit_modal.show();
			});
	    });


		$('#submitForm').on('submit', function(e){
			var form = new FormData(this);
	        Swal.fire({
	            title: "Are you sure",
	            text: "You want to add this shop?",
	            icon: "info",
	            showCancelButton: true,
	            confirmButtonText: "Yes",
	            allowOutsideClick: false,
	            showLoaderOnConfirm: true,
	            preConfirm: function (){
	                return $.post({
	                    url: "{% url 'list_of_shop' %}",
	                    data: form,
	                    success : function (response){
	                        if(response.data == "success"){
	                            Swal.fire({
	                                title: "Good job!",
	                                html:  response.msg,
	                                icon: "success",
	                                allowOutsideClick: false,
	                            }).then((result) => {
	                                if (result.isConfirmed){
	                                    $('#submitForm').trigger('reset');
                                        $('#shop_list').DataTable().ajax.reload();
                                        $('#close-shop-modal').click();
	                                }
	                            });
	                        }else{
	                        	Swal.fire({
	                        		title: "Oops!",
	                                html:  response.msg,
	                                icon: "error",
	                                allowOutsideClick: false,
	                        	});
	                        }
	                    },
	                    cache       : false,
	                    contentType : false,
	                    processData : false,
	                });
	            },
	        });
			e.preventDefault();
		});
	});
</script>
{% endblock %}