{% extends 'backend/layout.html' %}
{% load static %}
{% block content %}
    <div class="row mt-5 align-items-center justify-content-between">
	    <div class="col-auto">
            <h3 class="app-page-title mb-0">Supplier</h3>
	    </div>
    </div>
	<br><br>
	<div class="col-sm-12 row">
		<div class="app-card app-card-orders-table shadow-sm mb-5">
		    <div class="app-card-body">
			    <div class="table-responsive">
			    	<table class="table table-hover" id="suppliers_list" width="100%">
						<thead>
							<tr>
								<th class="cell">Action</th>
								<th class="cell">Company Name</th>
								<th class="cell">Address</th>
								<th class="cell">Mobile No.</th>
								<th class="cell">Tel No.</th>
								<th class="cell">Fax</th>
								<th class="cell">Status</th>
								<th class="cell">Date Created</th>
								<th class="cell">Home Page Url</th>
							</tr>
						</thead>
					</table>
		        </div>
		    </div>	
		</div>
	</div>

	<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered modal-md">
		    <div class="modal-content">
			    <div class="modal-header">
			        <h5 class="modal-title" id="exampleModalLabel">Register Shop</h5>
			        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			    </div>
			    <form method="POST" action="{% url 'list_of_shop' %}" enctype="multipart/form-data">
			    	{% csrf_token %}
				   	<div class="modal-body">
				   		<div class="mb-3">
							<label>Shop Name <span class="asteriskField">*</span></label>
							<input  name="shop_name" type="text" class="form-control shop_name" placeholder="Shop Name" required="required">
						</div>
						<div class="mb-3">
							<label>Logo <span class="asteriskField">*</span></label>
							<input  name="shop_logo" type="file" class="form-control shop_logo" required="required">
						</div>
						<div class="mb-3">
							<label>Location <span class="asteriskField">*</span></label>
							<input  name="location" type="text" class="form-control location" placeholder="Location" required="required">
						</div>
						<div class="mb-3">
							<label>Language <span class="asteriskField">*</span></label>
							<input  name="language" type="text" class="form-control language" placeholder="Language" required="required">
						</div>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" name="status" id="flexCheckDefault">
							<label class="form-check-label" for="flexCheckDefault">
							    Status
							</label>
						</div>
				    </div>
				    <div class="modal-footer">
				        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				        <button type="submit" class="btn btn-primary">Save changes</button>
				    </div>
			    </form>
		    </div>
		</div>
	</div>
{% endblock %}
{% block script %}
<script type="text/javascript">
	$(document).ready(function(){
	    $('#suppliers_list').DataTable({
	        'serverSide': true,
	        'processing': true,
	        'deferRender': true,
	        'lengthMenu': [ 25, 50, 100 ],
	        'order': [[ 1, 'desc' ]],
	        'bDestroy': true,
	        'ajax': {
	            'url': '/api/suppliers/?format=datatables',
	            'type': 'GET',
	            'beforeSend': function (request) {
	                request.setRequestHeader("Authorization", "Token bcc89274c44530a1331e772e5579aa85d8005d44")
	            }
	        },
	        'fnCreatedRow': function (row, data, index) {
	            $(row).attr('id', data['id']);
	        },
	        'columns': [
	            {'data': 'id',
	                'render': function(data, type, row, meta) {
	                    return "<a href='javascript:void(0);' data-role='edit' data-id='"+ row['id'] + "'>View</a>"
	                }
	            },
	            {'data': 'company_name', 'className': 'text-start' },
	            {'data': 'address', 'className': 'text-start' },
	            {'data': 'contact', 'className': 'text-start' },
	            {'data': 'phone', 'className': 'text-start' },
	            {'data': 'fax', 'className': 'text-start' },
	            {'data': 'status',
	                'render': function(data, type, row, meta) {
	                    if(row['status'] == 1) {
	                        return '<svg xmlns="http://www.w3.org/2000/svg" width="16" style="color:green" height="16" fill="currentColor" class="bi 					bi-check-circle" viewBox="0 0 16 16">\
										  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>\
										  <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>\
									</svg> Active'
	                    }else if (row['status'] == 0) {
	                        return '<svg xmlns="http://www.w3.org/2000/svg" style="color:red" width="16" height="16" fill="currentColor" class="bi 						bi-x-circle" viewBox="0 0 16 16">\
									  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>\
									  <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>\
									</svg> Inactive'
	                    }
	                },
	                'className': 'text-center'
	            },
	            {'data': 'date_create',
	                'className': 'text-center'
	            },
	            {'data': 'home_page',
	                'render': function(data, type, row, meta) {
	                	return '<a href='+data+' target="_blank">Link</a>'
	            	},
	            	'className': 'text-center'
	            },
	        ]
	    });
	});
</script>
{% endblock %}